headline{ 
    text-Align: 'center';
    font-weight: 'bold';
    font-Size: 18;
    margin-Top: 0;
    width: 200;
    background-Color: 'yellow';
  }
  image{
      width: auto;
      height: 100px;
      object-fit: cover;
  }